{% load static %}


<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Nova Cleaning & Fumigation services</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->

        <!-- Topbar Start -->
        <div class="container-fluid topbar-top bg-primary">
            <div class="container">
                <div class="d-flex justify-content-between topbar py-2">
                    <div class="d-flex align-items-center flex-shrink-0 topbar-info">
                        <a href="#" class="me-4 text-secondary"><i class="fas fa-map-marker-alt me-2 text-dark"></i>Kisii town po box 123</a>
                        <a href="tel:+254708368885" class="me-4 text-secondary"><i class="fas fa-phone-alt me-2 text-dark"></i>+254708368885</a>
                        <a href="mailto:regi.gwaro@gmail.com" class="text-secondary"><i class="fas fa-envelope me-2 text-dark"></i>regi.gwaro@gmail.com</a>
                      
                          
                    </div>
                    <div class="text-end pe-4 me-4 border-end border-dark search-btn">
                        <div class="search-form">
                            <form>
                                <div class="form-group">
                                    <div class="d-flex">
                                        <input type="search" class="form-control border-0 rounded-pill" name="search-input" value="" placeholder="Search Here" required=""/>
                                        <button type="submit" value="Search Now!" class="btn"><i class="fa fa-search text-dark"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center topbar-icon">
                        <a href="#" class="me-4"><i class="fab fa-facebook-f text-dark"></i></a>
                        <a href="#" class="me-4"><i class="fab fa-twitter text-dark"></i></a>
                        <a href="#" class="me-4"><i class="fab fa-instagram text-dark"></i></a>
                        <a href="#" class=""><i class="fab fa-linkedin-in text-dark"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->


        <!-- Navbar Start -->
        <div class="container-fluid bg-dark">
            <div class="container">
                <nav class="navbar navbar-dark navbar-expand-lg py-lg-0">
                    <a href="{% url 'nova_main:index' %}" class="navbar-brand">
                        <h3 class="text-primary mb-0 display-5">Nova Cleaning & Fumigation <span class="text-white"><br>
                            Services</span><i class="fa fa-broom text-primary ms-2"></i></h3>
                    </a>
                    <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-dark"></span>
                    </button>
                    <div class="collapse navbar-collapse me-n3" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            <a href="{% url 'nova_main:index' %}" class="nav-item nav-link active">Home</a>
                            <a href="{% url 'nova_main:about' %}" class="nav-item nav-link">About</a>
                            <!-- <a href="{% url 'nova_main:service' %}" class="nav-item nav-link">Services</a> -->
                            <a href="{% url 'nova_main:projects' %}" class="nav-item nav-link">Projects</a>
                            <a href="{% url 'nova_main:contact' %}" class="nav-item nav-link">Contact</a>
                            <div class="nav-item dropdown">
                                <a href="{% url 'nova_main:service' %}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                                <div class="dropdown-menu m-0 bg-primary">
                                    <a href="{% url 'nova_main:prices' %}" class="dropdown-item">Pricing Plan</a>
                                    <a href="{% url 'nova_main:service' %}" class="dropdown-item">Apartment Cleaning</a>
                                    <a href="{% url 'nova_main:service' %}" class="dropdown-item">Office Cleaning</a>
                                    <a href="{% url 'nova_main:service' %}" class="dropdown-item">Home cleaning</a>
                                    <a href="{% url 'nova_main:service' %}" class="dropdown-item">Carpet cleaning</a>
                                    <a href="/nov@i2e/" class="dropdown-item">Log in</a>
                                   
                                </div>
                            </div>
                 
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->

        {% block content %}





























        {% endblock content %}
        
                <!-- Footer Start -->
                <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay=".3s">
                    <div class="container py-5">
                        <div class="row g-4 footer-inner">
                            <div class="col-lg-3 col-md-6">
                                <div class="footer-item">
                                    <h4 class="text-white fw-bold mb-4">About PestKit.</h4>
                                    <p>Nostrud exertation ullamco labor nisi aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                    <p class="mb-0"><a class="" href="https://www.badwin.online/mysite/">Nova </a> &copy; 2023 All Right Reserved.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="footer-item">
                                    <h4 class="text-white fw-bold mb-4">Usefull Link</h4>
                                    <div class="d-flex flex-column align-items-start">
                                        <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>About Us</a>
                                        <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>Contact Us</a>
                                        <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>Our Services</a>
                                        <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>Terms & Condition</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="footer-item">
                                    <h4 class="text-white fw-bold mb-4">Services Link</h4>
                                    <div class="d-flex flex-column align-items-start">
                                        <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>Apartment Cleaning</a>
                                        <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>Office Cleaning</a>
                                        <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>Car Washing</a>
                                        <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>Green Cleaning</a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="footer-item">
                                    <h4 class="text-white fw-bold mb-4">Contact Us</h4>
                                    <a href="" class="btn btn-link w-100 text-start ps-0 pb-3 border-bottom rounded-0"><i class="fa fa-map-marker-alt me-3"></i>Kisii town po box 123</a>
                                    <a href="" class="btn btn-link w-100 text-start ps-0 py-3 border-bottom rounded-0"><i class="fa fa-phone-alt me-3"></i>+254708368885</a>
                                    <a href="" class="btn btn-link w-100 text-start ps-0 py-3 border-bottom rounded-0"><i class="fa fa-envelope me-3"></i>regi.gwaro@gmail.com</a>

                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer End -->
        
        
  
                <!-- Back to Top -->
                <a href="#" class="btn btn-primary rounded-circle border-3 back-to-top"><i class="fa fa-arrow-up"></i></a>
        
                
                <!-- JavaScript Libraries -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
                <script src="{% static 'lib/wow/wow.min.js' %}"></script>
                <script src="{% static 'lib/easing/easing.min.js' %}"></script>
                <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
                <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

                
        
                <!-- Template Javascript -->
                <script src="{% static 'js/main.js' %}"></script>
            </body>
        
        </html>